---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title: 'Mentions légales – ' + title, description }}>
	<Section>
		<p class="text-4xl pt-6">Mentions légales</p>

		<p class="pt-10 pb-2 font-bold text-lg">Éditeur :</p>
		<p>Virgile Marty<br/>
			35000 Rennes<br/>
			France</p>
		<p>Email : <a href="mailto:marty.virgile@gmail.com" class="underline">marty.virgile@gmail.com</a></p>

		<p class="pt-10 pb-2 font-bold text-lg">Hébergeur :</p>
		<p>
			GitHub Pages – Microsoft Corporation<br/>
			1601 Willow Road, Menlo Park, CA 94025, USA
		</p>

		<p class="pt-10 pb-4 text-base font-bold">Responsabilité du contenu </p>
		<p>
			Tous les contenus publiés sur ce blog sont créés avec le plus grand soin et selon mes
			connaissances du moment. Toutefois, je ne peux garantir l’exactitude, la complétude et
			l’actualité des informations. Conformément à l’article 7 (1) du TMG, je suis responsable
			de mes seuls contenus sur ces pages. Selon les articles 8 à 10 du TMG, je ne suis pas
			tenu de surveiller les contenus transmis ou stockés par des tiers, ni de rechercher
			des signes d’activité illégale. Les obligations de retrait ou de blocage des informations
			prévues par le droit général restent inchangées.
		</p>
		<p>
			Une responsabilité à ce titre n’est possible qu’à partir du moment où j’ai connaissance
			d’une violation concrète de la loi. Dès que j’en prendrai connaissance, je retirerai
			immédiatement ces contenus.
		</p>


		<p class="pt-10 pb-2 font-bold text-lg">Template :</p>

		<p>
			Basé sur le template original de
			<a href="https://www.nicdun.dev" target="_blank" class="underline">
				nicdun.dev
			</a>
		</p>
	</Section>
</Base>
