---
import Section from './Section.astro';
import Social from './Social.astro';
import Badge from './Badge.astro';
---

<Section>
	<div class="flex flex-col gap-4 text-sm">
		<h1 class="pt-6 pb-2 text-4xl font-bold">Bienvenue</h1>
		<p>
			Moi c'est <span class="font-black text-orange-600">Virgile</span>, étudiant en M2
			Développement Web en alternance depuis 2023. J’ai débuté chez
			<a class="font-black text-orange-600 underline" href="https://www.darva.com/fr//">DARVA</a> puis
			j’ai rejoint
			<a class="font-black text-orange-600 underline" href="https://www.bt-blue.com/">BT-Blue</a>,
			où je travaille sur le SI et développe des outils internes.
		</p>
		<div class="flex flex-wrap gap-2">
			<Badge text="TypeScript" variant="primary" size="sm" />
			<Badge text="React" variant="primary" size="sm" />
			<Badge text="Node.js" variant="primary" size="sm" />
		</div>

		<p>
			Mais vous pouvez aussi me trouver sur un vélo dans le peloton de <a
				class="font-black text-orange-600 underline"
				href="https://www.tagrandmereavelo.com/">Ta Grand Mère à vélo</a
			> autour de Rennes !
		</p>
		<div class="flex flex-wrap gap-2">
			<Badge text="Strava" variant="primary" size="sm" />
			<Badge text="Pignon fixe" variant="primary" size="sm" />
		</div>
		<p>
			Dans l'idée de progresser, je me lance un défi, la création d'un <strong
				>podcast Spotify
			</strong>: <a
				class="font-black text-orange-600 underline"
				href="https://open.spotify.com/show/5CedOnxC5Vzl22tqBytHbi?si=9883774f55da410c"
				>Ça s'améliore</a
			>. Je pense que j'ai pris du retard sur mes pairs dans de nombreux domaines et je veux
			rattraper cet écart tout en partageant mes découvertes.
		</p>

		<div class="flex">
			<Social href="https://github.com/Virgile-Eratel">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
					></path>
				</svg>
			</Social>
			<Social href="https://www.linkedin.com/in/virgile-marty/">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
					></path>
				</svg>
			</Social>
			<Social href="https://open.spotify.com/show/5CedOnxC5Vzl22tqBytHbi?si=9883774f55da410c">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.42 1.56-.299.421-1.02.599-1.559.3z"
					></path>
				</svg>
			</Social>
			<Social href="https://www.strava.com/athletes/68640895">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.599h4.172L10.463 0l-7 13.828h4.169"
					></path>
				</svg>
			</Social>
		</div>
	</div>
</Section>
